nav {
    font-size: 2.5vw;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.4);
}

a {
    text-decoration: none;
    color: #0da3ce;
    font-size: 3.5vw;
}
a:hover {
    text-decoration: none;
    color: #0e97bd;
}